Node-RED JSON file.json
[{"id":"196038d9.cc1ef7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ea65bf6.3bec54","type":"ui_form","z":"196038d9.cc1ef7","name":"","label":"","group":"566d14c3.9a0abc","order":1,"width":0,"height":0,"options":[{"label":"Averageheartbeatpermin","value":"Averageheartbeatpermin","type":"number","required":true,"rows":null},{"label":"Palpitationsperday","value":"Palpitationsperday","type":"number","required":true,"rows":null},{"label":"Cholestrol","value":"Cholestrol","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"Familyhistory","value":"Familyhistory","type":"text","required":true,"rows":null},{"label":"Smokinglast5years","value":"Smokinglast5years","type":"text","required":true,"rows":null},{"label":"Exerciseminutesperweak","value":"Exerciseminutesperweak","type":"number","required":true,"rows":null}],"formValue":{"Averageheartbeatpermin":"","Palpitationsperday":"","Cholestrol":"","BMI":"","AGE":"","SEX":"","Familyhistory":"","Smokinglast5years":"","Exerciseminutesperweak":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":50,"y":60,"wires":[["f33866bf.0d1668","18d83f0b.73c121"]]},{"id":"f33866bf.0d1668","type":"debug","z":"196038d9.cc1ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":20,"wires":[]},{"id":"18d83f0b.73c121","type":"function","z":"196038d9.cc1ef7","name":"pre-token","func":"global.set(\"Averageheartbeatpermin\",msg.payload.Averageheartbeatpermin)\nglobal.set(\"Palpitationsperday\",msg.payload.Palpitationsperday)\nglobal.set(\"Cholestrol\",msg.payload.Cholestrol)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.Tenure)\nglobal.set(\"SEX\",msg.payload.Balance)\nglobal.set(\"Familyhistory\",msg.payload.Familyhistory)\nglobal.set(\"Smokinglast5years\",msg.payload.Smokinglast5years)\nglobal.set(\"Exerciseminutperweak\",msg.payload.Exerciseminutesperweak)\nvar apikey=\"q4Keu5Ys354W89jkMktoSksbrHhXJ_wgbftIGKdyBvRq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["a06ad097.758ed"]]},{"id":"a06ad097.758ed","type":"http request","z":"196038d9.cc1ef7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":60,"wires":[["ef5ee2af.e943a","40998220.1a957c"]]},{"id":"ef5ee2af.e943a","type":"debug","z":"196038d9.cc1ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"40998220.1a957c","type":"function","z":"196038d9.cc1ef7","name":"Pre Prediction","func":"var Averageheartbeatpermin  = global.get(\"Averageheartbeatpermin\")\nvar Palpitationsperday = global.get(\"Palpitationsperday\")\nvar Cholestrol = global.get(\"Cholestrol\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar Familyhistory = global.get(\"Familyhistory\")\nvar Smokinglast5years = global.get(\"Smokinglast5years\")\nvar Exerciseminutesperweak = global.get(\"Exerciseminutesperweak\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Averageheartbeatpermin\", \"Palpitationsperday\", \"Cholestrol\",\"BMI\",\"AGE\",\"SEX\",\"Familyhistory\",\"Smokinglast5years\",\"Exerciseminutesperweak\"]],\"values\": [[Averageheartbeatpermin,Palpitationsperday,Cholestrol,BMI,AGE,SEX,Familyhistory,Smokinglast5years,Exerciseminutesperweak]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["2ac0d10a.e50bbe"]]},{"id":"2ac0d10a.e50bbe","type":"http request","z":"196038d9.cc1ef7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/b3eb3594-8f49-419e-a271-f8a094a4e7ca/predictions?version=2021-03-18","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["ee16c108.b137b","9326c030.3ee3a"]]},{"id":"ee16c108.b137b","type":"debug","z":"196038d9.cc1ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"8579f8d6.2ce908","type":"debug","z":"196038d9.cc1ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"9326c030.3ee3a","type":"function","z":"196038d9.cc1ef7","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nif (msg.payload== \"N\")\n{\n    msg.payload=\"May not suffer heart failure\";\n}\nelse\n{\n    msg.payload=\"Heart failure may possible\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["8579f8d6.2ce908","92c26309.a7df9"]]},{"id":"92c26309.a7df9","type":"ui_text","z":"196038d9.cc1ef7","group":"566d14c3.9a0abc","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":380,"wires":[]},{"id":"566d14c3.9a0abc","type":"ui_group","name":"heart attack prediction ","tab":"c21e4c60.62854","order":1,"disp":true,"width":"6","collapse":false},{"id":"c21e4c60.62854","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]